@import "semantic-ui";

.chatbox { height: 450px; }

li > a {
    text-align: center;
    color: black;
    font-size: 1.2em;
    text-decoration: none;
}

li:hover {
    background-color: #d2d2d2d2;
    list-style-type: none;
    padding: 10px;
    text-align: center;
}

li > a:hover {
    text-align: center;
    color: black;
    font-size: 1.2em;
    text-decoration: none;
}
